*{
    margin: 0;
    padding: 0;
    /* font-family: Arial, Helvetica, sans-serif; */
    border: border-box;
}
.container {
    background-color: #e5e5fd;
    min-height: 100vh;
    border: 10px solid #1d1e4c;
}
.content{
    max-width: 900px;
    margin: O auto;
    margin-left: 100px;
}
.top-section{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.top-section h1{
    font-size: 45px;
    font-weight: bold;
    color: #1d1e4c;
    text-transform: uppercase;
}
.top-section h4{
    font-size: 30px;
    text-align: end;
}
.img-container{
    border-radius: 50%;
    overflow: hidden;
    margin-left: 40px;

    
}
.img-container img{
    height: 300px;
    width: 320px;
}

.about-section{
margin: 50px;
}
.about-section h2{
font-size: 50px;
font-weight: 200px;
margin-bottom: 20px;
}
.about-section p{
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1.2px;
    text-align: justify;
}
.biography{
    margin-top: 50px;
    margin-left: 10px ;
}
.biography h3{
 margin-bottom: 20px;
 margin-left: 40px;
}
.biography ul{
margin-left: 50px;
}

.biography li{
    margin-bottom: 10px;
}
.footer{
    margin-top: 50px;
margin-bottom: 5px;

}
.footer p{
    text-align: end;
}